@import url("https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Raleway&display=swap");
//font-family: 'Abril Fatface', cursive;
//font-family: 'Raleway', sans-serif;

.blob-box {
    .dvf {
        font-family: "Abril Fatface", cursive;
        font-size: 30px;
        fill: #ffffff;
    }
    .front-end-dev {
        font-family: "Abril Fatface", cursive;
        font-size: 6px;
        fill: #ffffff;
    }

    .blob-btns-box {
        position: relative;
        z-index: 2;
        bottom: 250px;
        display: flex;
        width: auto;
        justify-content: center;
        align-items: center;

        .divider {
            height: 100%;
            margin: 0px 20px;

            line {
                stroke: #ffffff;
                stroke-width: 2;
            }
        }

        .blob-btn {
            a {
                position: relative;
                svg {
                    stroke: white;
                }
            }

            a:after {
                content: "";
                position: absolute;
                width: 0px;
                height: 2px;
                bottom: -1px;
                left: 50%;
                background: #ffffff;
                color: white;
                transition: all 0.3s ease 0s;
            }

            a:hover:after {
                width: 100%;
                left: 0;
            }
        }
    }
}
